#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
}

/* Header */

.header {
  /* border-bottom: 1px solid #ccc; */
  background-color: var(--white-color);
}

.banner {
  position: relative;
  height: var(--header-height);
  background-color: #ffe1ad;
}

.banner img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}
  /* Header Logo */

.nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
}

.nav__logo {
  text-decoration: none;
  color: var(--black-color);
  font-family: 'Oleo Script Swash Caps', cursive;
}

.nav__logo-img {
  height: 100%;
}

/* .nav__logo-title {
  margin-top: 8px;
  font-size: 4rem;
} */

.nav__logo-title span:nth-child(1) {
  color:var(--primary-color);
}

.nav__logo-title span:nth-child(2) {
  color: green;
}

/* .nav__logo-subtitle {
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Roboto Slab', sans-serif;
} */

/* Header Menu */

.nav__menu {
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding-left: 20px;
  cursor: pointer;
}

.nav__category {
  position: absolute;
  display: none;
  margin-top: 8px;
  top: 100%;
  left: 0;
  border-radius: 8px;
  /* overflow: hidden; */
  z-index: 1;
}

.nav__category::before { 
  position: absolute;
  content: "";
  top: -26px;
  left: 240px;
  width: 7%;
  height: 40px;
}

.nav__menu:hover .nav__category {
  display: flex;
  animation: fadeIn ease 0.2s;
}

.nav__category-list {
  position: relative;
  list-style: none;
  width: 254px;
  border: 2px solid #ccc;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: var(--white-color);
}

.nav__category-list-item:first-child {
  border-top-left-radius: 8px;
  /* border-top-right-radius: 8px; */
}
.nav__category-list-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 8px;
  /* border-bottom-right-radius: 8px; */
}

.nav__category-list-item {
  padding: 0 8px;
  font-size: 1.3rem;
  line-height: 4rem;
  border-bottom: 1px solid #ccc;
}

.nav__category-list-item:hover {
  background-color: #ccc;
}

.nav__category-list-item--right {
  line-height: 4rem;
  float: right;
}

.nav__category-list-item-link {
  text-decoration: none;
  color: var(--black-color);
}

.nav__category-banner {
  /* margin-left: 8px; */
  width: 946px;
  /* border-radius: 8px; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: url(/img/bannerx.jpg) no-repeat center / cover;
}


.nav__menu:hover {

}

.nav__menu-icon {
  color: var(--text-color);
}
.nav__menu-icon.fa-bars{
  font-size: 3rem;
}

.nav__menu-icon.fa-angle-down {
  margin-left: 8px;
  font-size: 1.6rem;
}

/* Header Search */

.nav__search {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 8px;
  height: var(--header-height);
}

.nav__search-input {
  padding: 0 24px;
  height: 40px;
  width: 100%;
  border: 1px solid #cdcfd0;
  border-radius: 8px;
  font-size: 1.4rem;
}

.nav__search-input:focus-visible {
  outline: none;
}

.nav__search-input:focus ~ .nav__search-input--history{
  display: block;
  outline: none;
  animation: fadeIn ease-in 0.2s;
}

.nav__search-input--history {
  display: none;
  position: absolute;
  bottom: calc(-100% - 30px);
  padding: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  list-style: none;
  background-color: var(--white-color);
  box-shadow: 0 0 4px #ccc;
  z-index: 1;
}

.nav__search-input--history-item {
  font-size: 1.2rem;
  padding-left: 8px;
  line-height: 3rem;
  color: var(--black-color);
}

.nav__search-input--history-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.nav__search-input--history-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav__search-input--history-item:hover {
  background-color: #ccc;
}

.nav__search-input--history-link {
  display: block;
  text-decoration: none;
  color: var(--black-color);
}

.nav__search-button {
  display: flex;
  align-items: center;
  justify-content: center;  
  position: absolute;
  right: 4px;
  height: 30px;
  width: 72px;
  background-color:var(--primary-color);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.nav__search-icon {
  font-size: 1.8rem;
  color: var(--white-color);
}

/* Header Noti */

.nav__noti {
  position: relative;
  text-align: center;
  margin-left: 32px;
}

.nav__noti-link {
  text-decoration: none;
  color: var(--black-color);
}

.nav__noti:hover .nav__noti-board {
  display: block;
  animation: fadeIn ease 0.2s;

}

.nav__noti-icon {
  font-size: 1.8rem;
  padding: 0 24px;
}

.nav__noti-title {
  font-size: 1.2rem;
}

.nav__noti-board {
  display: none;
  position: absolute;
  padding: 0 16px 16px;
  width: 300px;
  right: 0;
  top: calc(100% + 10px);
  border-radius: 8px;
  box-shadow: 0 0 4px #ccc;
  background-color: var(--white-color);
  z-index: 1;
}

.nav__noti-board::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  width: 96px;
  height: 20px;
}

.nav__noti-board-title {
  text-align: left;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.nav__noti-board-title-text {
  font-size: 1.7rem;
  padding-left: 8px;
}

.nav__noti-board-image {
  margin: auto;
  margin-top: 16px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: aqua;
  background: url(/img/cyber-security-g78d5cd2f4_640.png) no-repeat center / contain;
}

.nav__noti-board-text {
  margin: auto;
  width: 80%;
  padding-top: 16px;
  font-size: 1.5rem;
  line-height: 2rem;
}

.nav__noti-board-text--link {
  text-decoration: none;
  line-height: 36px;
}

.nav__noti-board-login {
  margin-top: 16px;
  /* font-size: 1.4rem;
  font-weight: 500;
  line-height: 4rem;
  border-radius: 8px;
  color: var(--white-color);
  background-color:var(--primary-color); */
}

.nav__noti-board-register {
  margin-top: 6px;
  /* font-size: 1.4rem;
  font-weight: 500;
  line-height: 4rem;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  color: var(--primary-color);
  background-color:var(--white-color);  
} */
}

.nav__noti-board-text--link {
  display: block;
}

.nav__noti-board-login a {
  color: var(--white-color);
}
.nav__noti-board-register a {
  color: var(--primary-color);
}

/* Cart */

.nav__cart {
  position: relative;
  text-align: center;
  margin-left: 32px;
  color: var(--black-color);
  text-decoration: none;
}

.nav__cart-link {
  text-decoration: none;
  color: var(--black-color);
}

.nav__cart:hover .nav__cart-board {
  display: block;
  animation: fadeIn ease 0.2s;
}

.nav__cart-quanity {
  position: absolute;
  background-color:var(--primary-color);
  color: var(--white-color);
  width: 18px;
  border-radius: 50%;
  line-height: 18px;
  top: -10px;
  right: 2px;
}

.nav__cart-icon {
  padding: 0 16px;
  font-size: 1.8rem;
}

.nav__cart-title {
  font-size: 1.2rem;
}

.nav__cart-board {
  display: none;
  position: absolute;
  padding: 0 16px 50px;
  width: 300px;
  right: 0;
  top: calc(100% + 10px);
  border-radius: 8px;
  box-shadow: 0 0 4px #ccc;
  background-color: var(--white-color);
  z-index: 1;
}

.nav__cart-board::before {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;
  width: 96px;
  height: 20px;
}

.nav__cart-board--empty {

}

.nav__cart-board-title {
  text-align: left;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.nav__cart-board-title-icon {

}

.nav__cart-board-title-text {
  padding-left: 8px;
}

.nav__cart-board--image {
  margin: auto;
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(/img/cart-empty.png) no-repeat center / contain;
}

.nav__cart-board--text {
  padding-top: 16px;
  font-size: 1.4rem;
}

.nav__user {
  position: relative;
  text-align: center;
  margin-left: 32px;
  text-decoration: none;
  color: var(--black-color);
}

.nav__user-link {
  text-decoration: none;
  color: var(--black-color);
}

.nav__user:hover .nav__user-board {
  display: block;
  animation: fadeIn ease 0.2s;
}

.nav__user-board {
  display: none;
  position: absolute;
  padding: 0 16px 12px;
  width: 300px;
  right: 0;
  top: calc(100% + 10px);
  border-radius: 8px;
  box-shadow: 0 0 4px #ccc;
  background-color: var(--white-color);
  z-index: 1;
}

.nav__user-board::before {
  position: absolute;
  content: "";
  top: -15px;
  right: 0;
  width: 96px;
  height: 20px;
}

.nav__user-board a {
  display: block;
  text-decoration: none;
}

.nav__user-board-login-link {
  margin-top: 12px;
}

.nav__user-board-register-link {
  margin-top: 6px;
}


.nav__user-icon {
  padding: 0 20px;
  font-size: 1.8rem;
}

.nav__user-title {
  font-size: 1.2rem;
}

/* Container */

.container {
  background-color: #f0f0f0;
}

/* Banner */
.container__banner {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 16px;
  z-index: 0;
}

.container__banner-img {
  width: 100%;
}

.container__new,
.container__bestseller,
.container__goodbook {
  background-color: var(--white-color);
  margin-top: 16px;
  padding-bottom: 32px;
}

.container__new-title,
.container__bestseller-title,
.container__goodbook-title,
.container__stationery-title {
  position: relative;
  padding: 16px 30px 16px 64px;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

.container__new-title-icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  top: 12px;
  left: 16px;
}

.container__bestseller-title-icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  top: 4px;
  left: 16px;
}

.container__goodbook-title-icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  top: 4px;
  left: 16px;
}

.container__stationery-title-icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  top: 4px;
  left: 16px;
  overflow: hidden;
}


.container__new-title-icon-img,
.container__bestseller-title-icon-img,
.container__goodbook-title-icon-img,
.container__stationery-title-icon-img {
  width: 100%;
}

/* Container Product */

.container__product {
  position: relative;
  width: 19.2%;
  padding: 0;
  margin-top: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  transition: margin-top ease 0.1s;
  text-decoration: none;
  color: var(--black-color);
}

.container__product-wrap {
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 20%);
}

.container__product-wrap:hover {
  position: relative;
  top: -2px;
  box-shadow: 0 0.0625rem 0.5rem 0 rgb(0 0 0 / 40%);
}

.container__product-img {
  padding-top: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container__product-infor {
  padding: 10px;
  background-color: var(--white-color);
}

.container__product-name {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.8rem;
  height: 3.6rem;
  font-weight: 400;
  overflow: hidden;
  /* white-space: nowrap;
  text-overflow: ellipsis; */
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.container__product-price {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 8px;    
}

.container__product-price--old {
  display: flex;
  font-size: 1.4rem;
  margin-right: 5px;
  color: #7c8186;
  text-decoration: line-through;
}

.container__product-price--new {
  display: flex;
  font-size: 1.6rem;
  margin-right: 5px;
  color: var(--primary-color);
}

.unit {
  font-size: 1rem;
  line-height: 1.6rem;
}

.container__product-price--free-ship {
  position: absolute;
  right: 0;
}

.container__product-rating {
  font-size: 0.9rem;
  color: #ffce3d;
}

.container__product-sale-off {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 5px;
  width: 36px;
  height: 32px;
  font-size: 1.2rem;
  background-color: rgba(255, 216, 57, 0.9);
}

.container__product-sale-off::after {
  content: "";
  position: absolute;
  top: 100%;
  border-style: solid;
  border-width: 0px 18px 4px;
  border-color: transparent rgba(255, 216, 57, 0.9) transparent rgba(255, 216, 57, 0.9);
}

.container__product-sale-off-percent {
  position: absolute;
  top: 2px;
  color: var(--primary-color);
}

.container__product-sale-off-down {
  position: absolute;
  top: 16px;
  color: var(--white-color);
}

.container__new-more,
.container__bestseller-more,
.container__stationery-more {
  margin: 32px auto 0;
}

/* Good Book */

.container__goodbook-content {
  position: relative;
  padding: 32px;
  display: flex;
  background-color: #0a6f3c;
  font-size: 1.4rem;
  color: var(--white-color);
}

.container__goodbook-content-cover {
  margin-right: 32px;
}

.container__goodbook-context {

}

.container__goodbook-context-title {
  font-size: 2rem ;
  font-weight: 500;
  padding-bottom: 10px;
}

.container__goodbook-context-author {
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--white-color);
}

.container__goodbook-context-description {
  padding: 15px 0;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 300;
}

.container__goodbook-context-buy {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 32px;
  width: 894px;
  padding-top: 15px;
  border-top: 1px dashed var(--white-color);
}

.container__goodbook-context-sale {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.6rem;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #f03737;
}

.container__goodbook-context-price--old {
  margin: 0 10px;
  font-size: 1.6rem;
  text-decoration: line-through;
}

.container__goodbook-context-price--new {
  margin: 0 10px;
  font-size: 2.4rem;
}

.container__goodbook-context-button {
  position: absolute;
  right: 0;
  padding: 12px 16px;
  font-size: 2.4rem;
  font-weight: 300;
  border-radius: 8px;
  text-decoration: none;
  color: var(--white-color);
  background-color: #f03737;
}

/* Stationery */

.container__stationery {
  margin-top: 16px;
  padding-bottom: 32px;
  background-color: var(--white-color);
}

/* Receive News */

.container__email {
  margin-top: 16px;
}



